#editor {
  --defaultTransition: all 1.2s;

  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* general */

#editor .hide {
  opacity: 0;
  visibility: hidden;
  transition: var(--defaultTransition);
}

#editor .show {
  opacity: 1;
  visibility: visible;
  transition: var(--defaultTransition);
}

/* end of general */

/* hide ui when preview */
#editor #buttons-panel,
#editor #timeline-panel,
#editor #content-panel,
#editor #info-panel {
  transition: all 0.2s;
}
#editor.viewing #buttons-panel {
  top: -60px;
}
#editor.viewing #timeline-panel {
  bottom: -210px;
}
#editor.viewing #content-panel,
#editor.viewing #info-panel {
  right: -250px;
}

#editor .editor-loading-container {
  width: 100%;
  height: 100%;
}
