:root {
  --appBackgroundColor: #0d0c1e;
}
#editor {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* hide ui when preview */
#editor #buttons-panel,
#editor #timeline-panel,
#editor #content-panel,
#editor #info-panel {
  transition: all 0.2s;
}
#editor.viewing #buttons-panel {
  top: -60px;
}
#editor.viewing #timeline-panel {
  bottom: -210px;
}
#editor.viewing #content-panel,
#editor.viewing #info-panel {
  right: -250px;
}