#presenter {
  --defaultTransition: all 0.4s;
  
  --panelTop: 50px;
}


#presenter #slides-panel {
  transition: var(--defaultTransition);
}
#presenter .interfaceIp-panel {
  position: absolute;
  right: 25px;
  top: var(--panelTop);
  background-color: rgba(0,0,0,0.6);
  padding: 15px;
  border-radius: 15px;
  /* color: rgb(112, 68, 68); */
  color: white;
  transition: var(--defaultTransition);
}
#presenter .interfaceIp-panel .ip {
  background-color: #03141c;
  text-align: center;
  padding: 10px 25px;
  border-radius: 50px;
  margin: 5px 0 15px;
}
#presenter .viewerCount-panel {
  position: absolute;
  top: var(--panelTop);
  left: 25px;
  background-color: rgba(0,0,0,0.3);
  padding: 10px 20px;
  border-radius: 50px;
  color: #FFFFFF;
  display: flex;
  align-items:  center;
  transition: var(--defaultTransition);
}
/* #presenter .viewerCount-panel:hover {
  color: #FFFFFF;
} */
#presenter .viewerCount-panel svg {
  height: 16px;
  margin-right: 10px;
}
#presenter .slideFunctions-panel {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(13, 12, 30, 0.8);
  border-radius: 50px;
  transition: var(--defaultTransition);
}

#presenter .slideFunctions-panel .buttons-group {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  position: relative;
}
#presenter .slideFunctions-panel .buttons-group:after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #4d5054;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
#presenter .slideFunctions-panel .buttons-group:last-of-type:after {
  display: none;
}

#presenter .slideFunctions-panel .buttons-group .button-prevSlide,
#presenter .slideFunctions-panel .buttons-group .button-playSlide,
#presenter .slideFunctions-panel .buttons-group .button-nextSlide {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
}
#presenter .slideFunctions-panel .buttons-group .button-prevSlide.disabled,
#presenter .slideFunctions-panel .buttons-group .button-nextSlide.disabled {
  opacity: 0.5;
  cursor: default;
}
#presenter .slideFunctions-panel .buttons-group .button-playSlide {
  color: #1ebdff;
}

#presenter .slideFunctions-panel .buttons-group .button-playSlide:hover {
  color: #72d6ff;
}
#presenter .slideFunctions-panel .buttons-group .button-recordSlide {
  color: #F00;
  cursor: pointer;
}
#presenter .slideFunctions-panel .buttons-group .button-recordSlide {
  color: #F00;
  cursor: pointer;
}
#presenter .slideFunctions-panel .buttons-group select {
  background-color: #2b3337;
  color: var(--secondaryFontColor);
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  outline: none;
}
#presenter .slideFunctions-panel .buttons-group select:hover {
  color: #FFFFFF;
}
#presenter .slideFunctions-panel .buttons-group a {
  padding: 5px 15px;
  text-decoration: none;
  color: var(--secondaryFontColor);
}
#presenter .slideFunctions-panel .buttons-group a:hover {
  color: #ffffff;
}

#presenter.hide-ui .interfaceIp-panel,
#presenter.hide-ui .viewerCount-panel,
#presenter.hide-ui .slideFunctions-panel,
#presenter.hide-ui #slides-panel
{
  opacity: 0;  
}
#presenter .show-ui-hints {
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 150px;
  height: 15px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 30px;
  transform: translate(-50%);
  transition: var(--defaultTransition);
  z-index: 2;
}
#presenter.hide-ui .show-ui-hints {
  bottom: 15px;
}


#presenter .recordingInfo-panel {
  position: absolute;
  top: var(--panelTop);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.3);
  /* padding: 10px 20px; */
  padding: 5px 15px;
  border-radius: 50px;
  color: #FFFFFF;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 150px;
  transition: var(--defaultTransition);
}
#presenter .recordingInfo-panel .show {
  opacity: 1;
  visibility: visible;
}
#presenter .recordingInfo-panel .hide {
  opacity: 0;
  visibility: hidden;
}
#presenter .recordingInfo-panel .is-recording-hint {
  margin: 5px;
  color: red;
}
#presenter .recordingInfo-panel .is-recording-timer {
  background-color: #03141c;
  text-align: center;
  /* padding: 10px 25px; */
  padding: 5px 15px;
  border-radius: 50px;
  /* margin: 5px 0 15px; */
  margin: 5px;
}