#slides-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--slidesPanelHeight);
  background-color: #120b1b;
}
#slides-panel .slide-wrap {
  white-space: nowrap;
}
#slides-panel .slide {
  width: 80px;
  height: 60px;
  border: 2px solid transparent;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}
#slides-panel .slide.selected {
  border: 2px solid #FFFFFF;
  cursor: default;
}
#slides-panel .slide.add-slide {
  background-color: #FFFFFF;
}
#slides-panel .slide.add-slide:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slides-panel .slide .slideControl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#slides-panel .slide .slideControl .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #FFFFFF;
}
#slides-panel .slide.selected .slideControl:hover .actions {
  display: flex;
  flex-direction: column;
}
#slides-panel .slide .slideControl:hover .actions .action {
  flex: 1;
  background-color: rgba(111, 111, 111, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
#slides-panel .slide .slideControl:hover .actions .action:after {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 5%;
}
#slides-panel .slide .slideControl:hover .actions .action:last-child:after {
  display: none;
}
#slides-panel .slide .slideControl:hover .actions .action:hover {
  background-color: rgba(222, 222, 222, 0.3);
}
#slides-panel .slide .preview-imgsequence {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#slides-panel .slide .preview-imgsequence img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;
}
#slides-panel .slide .preview-imgsequence img:nth-child(1) {
  z-index: 1;
}
#slides-panel .slide .preview-imgsequence img.active {
  z-index: 2;
}
#slides-panel .slide .slide-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 1px 0px;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}
