.project-list-page {

}

.project-list-page .project-list {

}

.project-list-page .project-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
}

/* .project-list-page .project-list-container > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
} */
