#project-list-page {
  --defaultFastTransitionDuration: 0.4s;
  --defaultFastTransition: all var(--defaultFastTransitionDuration);

  background-image: linear-gradient(190DEG, #2b435e, #0c4a61);
  height: 100%;
  padding-top: 30px;
}


#project-list-page .outer-container {
  width: 100%;
  padding: 0;  
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  overflow-x: hidden;
}


/* container */
/* https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css */

#project-list-page .inner-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  
}

@media (min-width: 576px) {
  #project-list-page .inner-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #project-list-page .inner-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #project-list-page .inner-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  #project-list-page .inner-container {
    max-width: 1140px;
  }
}

/* end of container */


#project-list-page .project-new {
  position: fixed;
  bottom: 5%;
  right: 5%;

  cursor: pointer;

  transition: var(--defaultFastTransition);
}

#project-list-page .project-new.show {
  opacity: 1;
  visibility: visible;
}

#project-list-page .project-new.hide {
  opacity: 0;
  visibility: hidden;
}

#project-list-page .project-top {
  height: 100px;
  width: 100%;

  position: relative;
}

#project-list-page .project-search {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}

#project-list-page .project-search input[type="text"] {
  border-radius: 50px;
  width: 300px;
  height: 25px;

  padding-left: 5%;
  padding-right: 5%;
}

#project-list-page .project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(200px, auto); */
  grid-gap: 2rem;

  /* height: 100%;
  overflow-x: hidden; */
}

#project-list-page .project-item {
  --projectImageHeight: 65%;

  border-radius: 5px;
  background-color: #0a1d34;  
  margin: 0;  
  color: #ffffff;

  position: relative;
  /* 
    https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
    somehow this is the magic number that make it square-like
  */  
  padding-top: 90%;
}

/* create new project button in project-item */
#project-list-page .project-list .project-item.create-new-project {
  padding: 1rem;
}

#project-list-page .project-list .project-item.create-new-project a {
  text-decoration: none;
}

#project-list-page .project-list .project-item.create-new-project .create-new-project-content {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;

  border: 0.05em dashed #FFFFFF;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.5em;
  font-family: sans-serif;
}

/* end of create new project button in project-item */

/* project-info-container */
#project-list-page .project-info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

#project-list-page .project-info {  
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;
  color: #ffffff;

  font-size: 1em;
}

#project-list-page .project-image {
  width: 100%;
  height: var(--projectImageHeight);
}

#project-list-page .project-image img {
  width: 100%;
  height: 100%;
}

#project-list-page .project-info-text-container {
  width: 100%;
  height: calc(100% - var(--projectImageHeight));
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-list-page .project-info-text {

}

#project-list-page .project-name {
  font-size: 1.25em;
  color: gainsboro;
}

#project-list-page .project-lastupdate {
  margin-top: 5%;

  font-size: 0.75em;
  color: grey;
}
/* end of project-info-container */

/* project-handles-container */
#project-list-page .project-handles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: var(--defaultFastTransition);
}

#project-list-page .project-handles-container.show {
  opacity: 1;
  visibility: visible;

  height: 100%;
}

#project-list-page .project-handles-container.hide {
  opacity: 0;
  visibility: hidden;

  height: 0%;
}

#project-list-page .project-handles {
  --topButtonTop: 7.5%;
  --leftRightMargin: 5%;

  position: relative;
  width: 100%;
  height: var(--projectImageHeight);

  text-align: center;
  color: #04608a;

  font-size: 1em;
  
  /* filter: blur(24px); */
  background-color: rgba(7, 24, 42, 0.7);  
}

#project-list-page .project-preview,
#project-list-page .project-options,
#project-list-page .project-edit {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;  
}

#project-list-page .project-preview-container {
  position: absolute;
  top: var(--topButtonTop);
  left: var(--leftRightMargin);

  width: 25%;
  height: 15%;
  border-radius: 50px;
  background-color: #546FF3;
}

#project-list-page .project-preview {
  color: #ffffff;
}

#project-list-page .project-options-container {
  position: absolute;
  top: var(--topButtonTop);
  right: var(--leftRightMargin);

  width: 25%;
  height: 15%;
  /* border-radius: 50px;
  background-color: #4f2d8d; */  
}

#project-list-page .project-options {
  color: #28c9d4;
}

#project-list-page .project-edit-container {
  --projectEditColor: #28c9d4;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#project-list-page .project-edit {
  width: 50%;
  height: 30%;
  border-radius: 50px;
  /* background-color: #4f2d8d; */
  border: 0.05em solid var(--projectEditColor);
}

#project-list-page .project-edit a {
  text-decoration: none;
  color: var(--projectEditColor);
}

/* end of project-handles-container */