.attribute-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.attribute-buttons-wrapper .attribute-button {
  flex: 0 0 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  margin-top: 11px;
}
.attribute-buttons-wrapper .attribute-button.preview-col {
  width: 100%;
  flex: 0 0 100%;
}
.attribute-button .back-button {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.attribute-button .back-button img {
  width: 30px;
  height: 30px;
}