* {
  box-sizing: border-box;
}
html, body {
  /*
  * display a transparent border when in electron 
  * the border is use for window resize
  * https://stackoverflow.com/questions/32894925/electron-resizing-a-frameless-window
  */
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
}
#root {
  position: relative;
  width: 100%;
  height: 100%;
}
#App {
  /*
  * leave a 2px border for resize use
  */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: initial;
  z-index: 1;
}
#App {
  background-color: #FFFFFF;
}
.aframe-editor-opened #App {
  background-color: #000000;
}
#root .window-resizer {
  position: fixed;
  -webkit-app-region: no-drag;
  z-index: 999;
}
.maximized #root .window-resizer {
  display: none;
}
#root .window-resizer.border-left,
#root .window-resizer.border-right {
  width: 2px;
  height: 100%;
  cursor: ew-resize;
}
#root .window-resizer.border-top,
#root .window-resizer.border-bottom {
  width: 100%;
  height: 2px;
  cursor: ns-resize;
}  
#root .window-resizer.border-left {
  left: 0;
}
#root .window-resizer.border-right {
  right: 0;
}
#root .window-resizer.border-top {
  top: 0;
}
#root .window-resizer.border-bottom {
  bottom: 0;
}
#root .window-resizer.corner-top-left,
#root .window-resizer.corner-top-right,
#root .window-resizer.corner-bottom-left,
#root .window-resizer.corner-bottom-right {
  width: 4px;
  height: 4px;
}
#root .window-resizer.corner-top-left,
#root .window-resizer.corner-bottom-right {
  cursor: nwse-resize;
}
#root .window-resizer.corner-top-right,
#root .window-resizer.corner-bottom-left {
  cursor: nesw-resize;
}
#root .window-resizer.corner-top-left {
  top: 0;
  left: 0;
}
#root .window-resizer.corner-top-right {
  top: 0;
  right: 0;
}
#root .window-resizer.corner-bottom-left {
  left: 0;
  bottom: 0;
}
#root .window-resizer.corner-bottom-right {
  right: 0;
  bottom: 0;
}